<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Layanan Informasi dan Jasa Meteorologi</title>

    <!-- meta SEO -->
    <meta name="description"
        content="Sistem Layanan Informasi dan Jasa Meteorologi | Stasiun Meteorologi Kelas I Serang">
    <meta name="keywords"
        content="Informasi Cuaca, Layanan Informasi, Layanan Jasa, Layanan Informasi dan Jasa, Meteorologi, Informasi Meteorologi, Jasa Meteorologi">
    <meta name="author" content="Stasiun Meteorologi Klas I Serang">
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/web-layanan/img/favicon.ico" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="asset/img/favicon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="asset/img/favicon-60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="asset/img/favicon-60@2x.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="asset/img/favicon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="asset/img/favicon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="asset/img/favicon-76@2x.png" /> -->

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!-- My Css -->
    <link rel="stylesheet" href="../assets/web-layanan/css/mycss.css">
    </link>
    <!-- Font Awesome 5.8.1 -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>

<body class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <img src="../assets/web-layanan/img/bmkg.png"
                                alt="BMKG" class="img-fluid img-thumbnail">
                            <h1 class="subtitle">Stasiun Meteorologi Kelas I Serang</h1>
                            <span class="text-center"> Masukkan alamat email anda yang dulu anda daftarkan. Kami akan
                                mengirimi tautan untuk mereset kata sandi anda melalui email. </span>
                        </div>

                        <form class="form-signin" action="proses.php" method="POST">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email"
                                    required autofocus>
                                <label for="inputEmail">Email</label>
                            </div>

                            <button class="btn btn-primary btn-block text-uppercase" type="submit">setel ulang
                                kata sandi</button>

                            <div class="row mt-2 mb-3">
                                <div class="col-12">
                                    <a href="../layanan" class="btn btn-outline-danger btn-block">Kembali</a>
                                </div>
                            </div>

                            <hr class="my-4">

                            <a href="faq.html"
                                class="btn btn-lg btn-information btn-outline-dark btn-block text-uppercase">FAQ <i class="fas fa-question-circle mr-2"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JavaScript Dependency -->
    <script src="../vendor/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Custom -->
    <script>
        
    </script>
</body>
</html>