<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Layanan Informasi dan Jasa Meteorologi</title>

    <!-- meta SEO -->
    <meta name="description"
        content="Sistem Layanan Informasi dan Jasa Meteorologi | Stasiun Meteorologi Kelas I Serang">
    <meta name="keywords"
        content="Informasi Cuaca, Layanan Informasi, Layanan Jasa, Layanan Informasi dan Jasa, Meteorologi, Informasi Meteorologi, Jasa Meteorologi">
    <meta name="author" content="Stasiun Meteorologi Klas I Serang">
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/web-layanan/img/favicon.ico" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="asset/img/favicon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="asset/img/favicon-60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="asset/img/favicon-60@2x.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="asset/img/favicon-60@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="asset/img/favicon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="asset/img/favicon-76@2x.png" /> -->

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!-- My Css -->
    <link rel="stylesheet" href="../assets/web-layanan/css/mycss.css">
    </link>
    <!-- Font Awesome 5.8.1 -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>

<body class="mt-4">
    <div class="container">
        <div class="card my-5 card-signin">
            <div class="card-body">
                <div class="text-center mb-3">
                    <img src="../assets/web-layanan/img/bmkg.png" alt="BMKG" class="img-fluid img-thumbnail">
                    <h1 class="subtitle">Stasiun Meteorologi Kelas I Serang</h1>
                </div>
                
                <!-- <h2 class="text-center font-weight-light">FAQ</h2> -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../layanan/" class="btn btn-sm btn-dark">Kembali</a></li>
                        <li class="breadcrumb-item active my-auto" aria-current="page">FAQ</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-lg-4 mt-3">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-satu-list"
                                data-toggle="list" href="#list-satu" role="tab" aria-controls="satu">Tentang Aplikasi</a>
                            <a class="list-group-item list-group-item-action" id="list-dua-list" data-toggle="list"
                                href="#list-dua" role="tab" aria-controls="dua">Registrasi, Login dan Lupa Password</a>
                            <a class="list-group-item list-group-item-action" id="list-tiga-list" data-toggle="list"
                                href="#list-tiga" role="tab" aria-controls="tiga">Cara Mengakses Data</a>
                            <a class="list-group-item list-group-item-action" id="list-empat-list" data-toggle="list"
                                href="#list-empat" role="tab" aria-controls="empat">Parameter Data</a>
                        </div>
                    </div>

                    <div class="col-lg-8 mt-3">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-satu" role="tabpanel"
                                aria-labelledby="list-satu-list">
                                <div id="accordion">

                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                                1. Apa itu Sistem Informasi Layanan dan Jasa Meteorologi?
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, rem non quam quos dolor facilis amet corrupti repellendus pariatur architecto provident ullam eius quibusdam itaque, assumenda quia quidem adipisci! Earum nesciunt iure est unde fuga numquam culpa.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                                2. Apa yang bisa didapatkan pengguna dari Website Layanan Data Online?
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente incidunt ea at recusandae quasi esse voluptates doloribus unde ullam iusto itaque, asperiores, earum voluptatum suscipit? Quam voluptas placeat voluptate?
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-dua" role="tabpanel"
                                aria-labelledby="list-dua-list">...</div>
                            <div class="tab-pane fade" id="list-tiga" role="tabpanel"
                                aria-labelledby="list-tiga-list">...</div>
                            <div class="tab-pane fade" id="list-empat" role="tabpanel"
                                aria-labelledby="list-empat-list">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JavaScript Dependency -->
    <script src="../vendor/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Custom -->
    <script>
        
    </script>
</body>
</html>